<!-- <div class="container-fluid">
  <app-header class="col-sm-12"></app-header>
  <app-navbar class="col-sm-12"></app-navbar>
  <div class="h-100 row">
    <app-sidebar class="col-sm-2"></app-sidebar> -->
    <!-- day2 -->
    <!-- <app-home class="col-sm-10"></app-home>  -->
    <!-- <app-products class="col-sm-10"></app-products> -->
    <!-- day3 -->
    <!-- <app-order class="col-sm-10"></app-order>
    <div class="col-sm-10">
      <router-outlet></router-outlet> 
    </div>
  </div>

  <app-footer class="col-sm-12"></app-footer>
</div> -->


<app-navbar class="col-sm-12"></app-navbar>

<router-outlet></router-outlet>
